@charset "utf-8";
/* DESKTOP CSS STYLESHEET */
/* For screens with width larger than 800px */

/* Add background video */
#video-bkgd {
   visibility: visible;
   position: fixed;
   right: 0;
   top: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   width: 100vw;
   height: 100vh;
   z-index: -10000;
   object-fit: cover;

}

#container 
{
   background-color: rgba(0, 0, 0, 0.476);
   width: 90%;
}

.responsive-image {
   width: 30%;
}