@charset "utf-8";
/* SOCIAL MEDIA ICONS CSS STYLESHEET */

.social-menu li a:before 
{
   font-family: 'FontAwesome';
   -webkit-font-smoothing: antialiesd;
   content: '\f08e';
}

.screen-reader-text 
{
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

.social-menu ul 
{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}

.social-menu li a[href*="facebook.com"]::before {
   content: '\f09a';
}
.social-menu li a[href*="instagram.com"]::before {
   content: '\f16d';
}
.social-menu li a[href*="github.com"]::before {
   content: '\f09b';
}
.social-menu li a[href*="linkedin.com"]::before {
   content: '\f0e1';
}
.social-menu li a[href*="behance.net"]::before {
   content: '\f1b4';
}
.social-menu li a[href*="youtube.com"]::before {
   content: '\f167';
}
.social-menu li a[href*="twitter.com"]::before {
   content: '\f099';
}

